## Error handling

The key word `try` allows you to test your script.
Then if there is an error, you can handle the message or the action with `except`.
You can precise the type of error after `except` but the action taken will just work on this type of error.

In [ ]:
# Whitout error handling
def purchased_but_not_subscribed(customers, newsletter_subscribers):
  result = customers.difference(newsletter_subscribers)
  return  result

purchased_but_not_subscribed(customers=[1,2,3,4,4,5,4,57,], newsletter_subscribers=[1,2,4,6,7,8,8,32,536])

AttributeError: ignored

In [ ]:
# With error handling
def purchased_but_not_subscribed_error_handling(customers, newsletter_subscribers):
  try: #let's check if the code will run properly
    result = customers.difference(newsletter_subscribers)
  except: # if it doesn't run as expected, write the following message
    result = "Check the data type"
  return  result
purchased_but_not_subscribed_error_handling(customers=[1,2,3,4,4,5,4,57,], newsletter_subscribers=[1,2,4,6,7,8,8,32,536])

'Check the data type'

Library

In [ ]:
# Import the numpy library with the alias 'np'.
import numpy as np

# Import the 'array' and 'median' modules from numpy.
from numpy import array, median

# Import the pandas library with the alias 'pd'.
import pandas as pd

# The code above imports the numpy and pandas libraries,
# allowing you to use their functionalities in the subsequent code.

In [ ]:
# Create an array 'x' using the 'array' function from numpy.
x = array([2, 3, 4, 5, 6, 67])

# Check the data type of the variable 'x'.
type(x)

# Calculate the median of the list [2, 3, 4, 5, 6, 67] using the 'median' function from numpy.
median([2, 3, 4, 5, 6, 67])

# Handle string like a list

In [ ]:
# Assign the string "Albert" to the variable 'name'.
name = "Albert"

# Check and return the data type of the variable 'name'.
type(name)

# Extract and return the substring of 'name' from index 0 to 2 (inclusive of 0, exclusive of 3).
name[0:3]

# Tuple

In [ ]:
# Define a tuple 'x' with elements 1 and 2.
x = (1, 2)

# Print the tuple 'x'.
print(x)

# Check and return the data type of the variable 'x', which is a tuple.
type(x)

# Access and return the element at index 0 of the tuple 'x', which is 1.
x[0]

# Access and return the element at index 1 of the tuple 'x', which is 2.
x[1]

# Define a tuple 'aire_rect' with various elements.
aire_rect = (5, 10, 5, 5, 5, 5, True, "coucou")

# Unpack the values of 'aire_rect' into variables 'l' and 'L' with respective values 5 and 10.
l, L = (5, 10)

# Print messages indicating the values of 'l' and 'L'.
print("La longueur est", L)
print("La largeur est", l)

# Define a Python function 'double_val_dic' that takes a dictionary as input
# and returns a new dictionary where all the values have been doubled.
def double_val_dic(dico):
    new_dict = {}
    for dict_item in list(dico.items()):
        new_dict[dict_item[0]] = 2 * dict_item[1]
    return new_dict

# Call the 'double_val_dic' function with a sample dictionary and double its values.
double_val_dic({1: 1, 2: 2, 3: 3})

# Find the index of the first occurrence of 'True' in the tuple 'aire_rect'.
aire_rect.index(True)

# Set

In [ ]:
# Create an empty set 's' using set() constructor.
s = set()

# Alternatively, create an empty set 's' using curly braces ({}).
s = {}

# Create a set 's1' containing elements 2, 4, and 5.
s1 = {2, 4, 5}

# Create another set 's2' containing elements 2, 6, and 9.
s2 = {2, 6, 9}

# Create a list 'l' containing repeated elements 2, 2, 2, 2, 4, and 5.
l = [2, 2, 2, 2, 4, 5]

# Convert the list 'l' to a set 's_to_l', removing duplicates.
s_to_l = set(l)

# Print the original list 'l'.
print(l)  # Output: [2, 2, 2, 2, 4, 5]

# Print the length of the original list 'l'.
print(len(l))  # Output: 6

# Print the set 's_to_l' containing unique elements from the list.
print(s_to_l)  # Output: {2, 4, 5}

# Print the length of the set 's_to_l'.
print(len(s_to_l))  # Output: 3

# Calculate the set difference between 's1' and 's2'.
s1.difference(s2)

# Calculate the intersection of sets 's1' and 's2'.
s1.intersection(s2)

# Calculate the union of sets 's1' and 's2'.
s1.union(s2)

# Boolean

It will work exactly like the **WHERE** clause in SQL

In [ ]:
# Define a function 'is_even' that takes a 'number' as input.
def is_even(number):
    # Check if the 'number' is even by calculating the remainder when divided by 2.
    # If the remainder is 0, the number is even, and the function returns True.
    # Otherwise, it returns False.
    return number % 2 == 0

# Call the 'is_even' function with the argument 2 and print the result.
print(is_even(2))  # Output: True

# Call the 'is_even' function with the argument 3 and print the result.
print(is_even(3))  # Output: False

# List
the list are composed of different elements called items

In [ ]:
# the type is list
type([1,2,3,4,7])

# assign l to a list
l = [1,2,3,4,7,5]

# check what is the first value of l
l[0]

# let's change the 3rd value to 1
l[2] = 1
l

# let's see the value of the last element
l[-1]

# let's see all the elements before the last one
l[:-1]
l[0:-1] # Galaad

# let's see all the elements from the 3 position to the end
l[2:]


# let's reverse the order of the list l
l[::-1]

# let's take the 2 first elements and reverse the order
l[0:2][::-1]
l[0:2:-1] # doesn't work because first it reverse the list
l[0:2:-1]

# slice the list. Let's work only on the sub list from the 1st to the 3rd position
l[0:2] # Going from position 1 to position 2
l[0:3] # Going from position 1 to position 3
[l[0],l[3]] # Taking only values of position 1 and position 4

# Create a list with boolean, int, float and string
new_list = [True,1,2.5,"abc"]
new_list

# Create a list of a list

even_odd_list = [1,3,5,7,2,4,6]
even_odd_list = [[1,3,5,7],[2,4,6]]
# Retrieve the 2nd element of the 2nd list
even_odd_list[1][1]

new_list = [[1,3,5,7],[2,4,[1,3,5,7],[2,4,6],6],[2,4,6]]

# Create a list 'l' with integer elements.
l = [1, 2, 3, 4, 7]

# Create a new list 'new_l' by slicing 'l' from index 2 in reverse order to the beginning.
new_l = l[2::-1]

# Print the 'new_l' list, which contains elements from 'l' reversed starting from index 2.
new_l

# Assign floating-point values to variables representing different room areas.
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create a list 'areas' that contains room names and their corresponding areas.
areas = ["hallway", hall, "kitchen", kit, "living room", liv,
         "bedroom", bed, "bathroom", bath]

# Slice 'areas' to get the last four elements, representing room names and their areas.
areas[-4:]

# Slice 'areas' to exclude the last two elements, leaving room names and their areas.
areas[:-2]

# The methods

In [ ]:
# Create a new list 'new_list2' containing integers and a string.
new_list2 = [1, 2, "e"]

# Print the 'new_list2' to display its current contents.
print(new_list2)

# Add the item "Hello" to the end of the list using the 'append' method.
new_list2.append("Hello")
print(new_list2)

# Remove the last item added to the list using the 'pop' method.
print(new_list2.pop())
print(new_list2)

# To find the index of a specific element, we use the 'index' method.
# In this case, we want to find the position of "e".
new_list2.index("e")

# To remove a specific element from the list, we use the 'remove' method.
# Let's remove the integer 1 from the list.
new_list2.remove(1)
print(new_list2)

# Condition statement
With more than 2 options

In [ ]:
# Define a function 'surface_room' that takes a 'room_name' as input.
def surface_room(room_name):
    # Check if 'room_name' matches specific room names and assign the corresponding variable or error message.
    if room_name == "hallway":
        res = hall
    elif room_name == "kitchen":
        res = kit
    elif room_name == "living room":
        res = liv
    elif room_name == "bathroom":
        res = bath
    elif room_name == "bedroom":
        res = bed
    else:
        # If 'room_name' doesn't match any known room names, provide an error message.
        res = "Try again with a correct room name"
    # Return the result, which is either the room's variable or an error message.
    return res

# Call the 'surface_room' function with "bedroom" as input and print the result.
print(surface_room("bedroom"))

# Call the 'surface_room' function with "BEDROOM" as input and print the result.
print(surface_room("BEDROOM"))

# For loop

In [ ]:
# List of room names.
areas_name = ["hallway", "kitchen", "living room", "bedroom", "bathroom"]

# Define a function 'surface_room' that takes a 'room_name' as input.
def surface_room(room_name):
    # Convert the 'room_name' to lowercase to make it case-insensitive.
    room_name = room_name.lower()
    # Check the 'room_name' and assign the corresponding variable or provide an error message.
    if room_name == "hallway":
        result = hall
    elif room_name == "kitchen":
        result = kit
    elif room_name == "living room":
        result = liv
    elif room_name == "bathroom":
        result = bath
    elif room_name == "bedroom":
        result = bed
    else:
        result = "Try again with a correct room name"
    return result

# Call the 'surface_room' function with different room names.
surface_room("hall")
surface_room("kit")
surface_room("liv")

# Uncomment the following loop to print the surface area of all rooms in 'areas_name'.
# for i in areas_name:
#     print(i, ": ", surface_room(i))

# Loop through 'areas_name' and print the surface area of each room.
for i in range(len(areas_name)):
    print(surface_room(areas_name[i]))

# List comprehension

In [ ]:
surface_list =[]
for i in areas_name:
  surface_list.append(surface_room(i))

# list comprehension
print([surface_room(room) for room in areas_name])

# add a condition
print(areas_name)
[surface_room(room) for room in areas_name if len(room)<10 and len(room)>7]