# WHILE LOOP
##How do you use while in Python?
A while loop is used to repeatedly execute the indented block of code as long as the True-False condition following the word 'while' evaluates to True. It is ideal for situations where the total number of iterations necessary cannot be defined beforehand, such as obtaining user input and checking it until correct input is entered.

##What is a while statement in Python?
The word 'while' in Python is a reserved word which creates a while loop using the syntax: while condition: do_stuff. If do_stuff is more than one line, it should be put on the next line and indented. The 'condition' is evaluated before each iteration of the loop, and 'do_stuff' is executed so long as 'condition' is true.

##What is a while loop Python?
A while loop has the syntax 'while condition: do_stuff' where 'do_stuff' is usually placed on the next line and indented. It executes the statements in 'do_stuff' repeatedly so long as 'condition' is true.

In [ ]:
# for loop print from 1 to 10
print("For loop")
for i in range(1,11):
  print(i)


# while loop print from 1 to 10
print("While loop")
i=1
while i<11:
  print(i)
  i=i+1 # i+=1 la même chose

For loop
1
2
3
4
5
6
7
8
9
10
While loop
1
2
3
4
5
6
7
8
9
10

In [ ]:
def n_print(n,odd_or_even):
    i = 1
    while i<=n:
      if odd_or_even == "impair" and i%2!=0:
            print(i)
      elif odd_or_even == "pair" and i%2==0:
            print(i)
      i=i+1

n_print(19,"impair")


# we can stop the loop by adding a break keyword in a while or a for loop
# to prevent errors or infinite loops

def n_print(n,odd_or_even):
    i = 1
    while i<=n:
      if odd_or_even == "impair" and i%2!=0:
            print(i)
      elif odd_or_even == "pair" and i%2==0:
            print(i)
      elif odd_or_even != "pair" and odd_or_even != "impair":
        print("error in odd_or_event parameter")
        break
      i=i+1

n_print(19,"imopair")

1
3
5
7
9
11
13
15
17
19
error in odd_or_event parameter

## Rappel: Local and global variable

In [ ]:
# i is define as a global variable and his value is 3
# i is used as a variable in the for loop and takes the value of range(5)
# The i in the for loop is a local variable
# The print statement will first look for a local i variable
# and if it doesn't exist it will look for a global one

# example 1 where the printed value is the local variable
i = 3
for i in range(5):
  print(i)


# example 2 where the printed value is the global variable
i = 3
for j in [0,True,0,i,"2",2,2,2]:
  print(i)

0
1
2
3
4
3
3
3
3
3
3
3
3

# Dictionary
## What is a dictionary?
Dictionaries are Python’s implementation of a data structure that is more generally known as an associative array. <br>
A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

## How do you define a dictionnary?
You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}).<br>
A colon (:) separates each key from its associated value:

In [ ]:
area_size = [11.25, 18.0, 20.0, 10.75, 9.50, 9.50]
area_name = ["hallway", "kitchen", "living room", "bedroom", "bathroom", "poolsize"]

# created a dictionary
dict_area = dict()
dict_area = {"hallway":11.25, "kitchen":18}
print(dict_area)
# return the value associated to kitchen
dict_area["kitchen"]

dict_area = {"Tarzs":[20, 20, 15], "Yasmine":[18,20]}
dict_area["Tarzs"][1]

dict_area = {"hallway":11.25, "kitchen":18}
dict_area

new_dict = dict()

# method 1
for i in range(len(area_name)):
  new_dict[area_name[i]]=area_size[i]



print(new_dict)

{'hallway': 11.25, 'kitchen': 18}
{'hallway': 11.25, 'kitchen': 18.0, 'living room': 20.0, 'bedroom': 10.75, 'bathroom': 9.5, 'poolsize': 9.5}

In [ ]:
def lower_dict(new_dict):
  # transform the keys to a list and lowercase them
  key = new_dict.keys()
  key_list = list(key)
  lower_key_list = [unit_key.lower() for unit_key in key_list]

  # transform the values to a list
  value_list = list(new_dict.values())

  # key = list(new_dict.keys()).lower()
  # create a dictionary
  new_dict = dict()
  for i in range(len(value_list)):
    new_dict[lower_key_list[i]]=value_list[i]
  return new_dict

lower_dict({"Coco":2, "Banane":5, "Fraise":25})


def lower_dict(new_dict):
  # transform the keys to a list and lowercase them
  key_list = list(new_dict.keys)
  lower_key_list = [unit_key.lower() for unit_key in key_list]

  # transform the values to a list
  value_list = list(new_dict.values())

  # key = list(new_dict.keys()).lower()
  # create a dictionary
  new_dict = dict()
  for i in range(len(value_list)):
    new_dict[lower_key_list[i]]=value_list[i]
  return new_dict

In [ ]:
type(dict_area.keys())

dict_keys

# Handle string like a list

Here we tried to interact with one string as if it was a list

In [ ]:
# Define a string variable 'name' with the value "Albert".
name = "Albert"

# Get the type of 'name' and print it.
type(name)

# Access and print the substring of 'name' from index 0 to 2 (inclusive of 0, exclusive of 3).
name[0:3]

'Alb'

# Tuple

## What is a tuple?
Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

## Why do we use them?
Tuples are used to store multiple items in a single variable.

## Technical assets
A tuple is a collection which is ordered and unchangeable.
## How are they represented?
Tuples are written with round brackets.

In [ ]:
# 1. Create a tuple 'x' with two elements (1, 2).
x = (1, 2)

# Print the tuple 'x'.
print(x)

# Get the type of 'x' and print it.
type(x)

# Access the first element of 'x' and print it.
x[0]

# Access the second element of 'x' and print it.
x[1]

# Create a tuple 'aire_rect' representing properties of a rectangle.
# It includes length, width, height, width, depth, depth, a boolean value, and a string.
aire_rect = (5, 10, 5, 5, 5, 5, True, "coucou")

# Assign the values of length 'l' and width 'L' from the 'aire_rect' tuple.
l, L = (5, 10)

# Print the length and width.
print("La longueur est", L)
print("La largeur est", l)

# 2. Write a Python function 'double_val_dic' that takes a dictionary as input and
# returns a new dictionary where all the values have been doubled.
def double_val_dic(dico):
    new_dict = {}
    for dict_item in dico.items():
        new_dict[dict_item[0]] = 2 * dict_item[1]
    return new_dict

# Example usage of 'double_val_dic' function.
double_val_dic({1: 1, 2: 2, 3: 3})

# Find the index of the first occurrence of 'True' in the 'aire_rect' tuple.
aire_rect.index(True)

(1, 2)
La longueur est 10
La largeur est 5

6

## Set

In [ ]:
s = set()
s = {}

s1 = {2,4,5}
s2 = {2,6,9}
l = [2,2,2,2,4,5]
s_to_l = set(l)
print(l)
print(len(l))
print(s_to_l)
print(len(s_to_l))

s1.difference()

[2, 2, 2, 2, 4, 5]
6
{2, 4, 5}
3

{2, 4, 5}

In [ ]:
[('Marcus Garvey Park', ('Black', 'Cinnamon', 'Cleaning', None)),
 ('Highbridge Park',
  ('Gray',
   'Cinnamon',
   'Running, Eating',
   'Runs From, watches us in short tree')),
 ('Madison Square Park', ('Gray', None, 'Foraging', 'Indifferent')),
 ('City Hall Park', ('Gray', 'Cinnamon', 'Eating', 'Approaches')),
 ('J. Hood Wright Park', ('Gray', 'White', 'Running', 'Indifferent')),
 ('Seward Park', ('Gray', 'Cinnamon', 'Eating', 'Indifferent')),
 ('Union Square Park', ('Gray', 'Black', 'Climbing', None)),
 ('Tompkins Square Park', ('Gray', 'Gray', 'Lounging', 'Approaches'))]

[('Marcus Garvey Park', ('Black', 'Cinnamon', 'Cleaning', None)),
 ('Highbridge Park',
  ('Gray',
   'Cinnamon',
   'Running, Eating',
   'Runs From, watches us in short tree')),
 ('Madison Square Park', ('Gray', None, 'Foraging', 'Indifferent')),
 ('City Hall Park', ('Gray', 'Cinnamon', 'Eating', 'Approaches')),
 ('J. Hood Wright Park', ('Gray', 'White', 'Running', 'Indifferent')),
 ('Seward Park', ('Gray', 'Cinnamon', 'Eating', 'Indifferent')),
 ('Union Square Park', ('Gray', 'Black', 'Climbing', None)),
 ('Tompkins Square Park', ('Gray', 'Gray', 'Lounging', 'Approaches'))]

# Boolean

## What is a Boolean?
Python boolean type is one of the built-in data types provided by Python, which represents one of the two values i.e. True or False.

##What do we use it for?
Generally, it is used to represent the truth values of the expressions. For example, 1==1 is True whereas 2<1 is False.

##Technical assets
The boolean value can be of two types only i.e. either True or False. The output <class ‘bool’> indicates the variable is a boolean data type.


###Tips
It will work exactly like the **WHERE** clause in SQL

In [ ]:
# Define a function named 'is_even' that takes an input 'number'.
def is_even(number):
    # Check if the 'number' is even by performing the modulus operation (% 2) and comparing it to 0.
    # If the result is 0, the number is even, and the function returns True. Otherwise, it returns False.
    return number % 2 == 0

# Call the 'is_even' function with the argument 2 and print the result.
print(is_even(2))

# Call the 'is_even' function with the argument 3 and print the result.
print(is_even(3))

True
False

# List

## What is a list?
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

## Why do we use them?
Lists are used to store multiple items in a single variable.

## How are they represented?
Lists are created using square brackets:

In [ ]:
# the type is list
type([1,2,3,4,7])

# assign l to a list
l = [1,2,3,4,7,5]

# check what is the first value of l
l[0]

# let's change the 3rd value to 1
l[2] = 1
l

# let's see the value of the last element
l[-1]

# let's see all the elements before the last one
l[:-1]
l[0:-1] # Galaad

# let's see all the elements from the 3 position to the end
l[2:]


# let's reverse the order of the list l
l[::-1]

# let's take the 2 first elements and reverse the order
l[0:2][::-1]
l[0:2:-1] # doesn't work because first it reverse the list
l[0:2:-1]

# slice the list. Let's work only on the sub list from the 1st to the 3rd position
l[0:2] # Going from position 1 to position 2
l[0:3] # Going from position 1 to position 3
[l[0],l[3]] # Taking only values of position 1 and position 4

# Create a list with boolean, int, float and string
new_list = [True,1,2.5,"abc"]
new_list

# Create a list of a list

even_odd_list = [1,3,5,7,2,4,6]
even_odd_list = [[1,3,5,7],[2,4,6]]
# Retrieve the 2nd element of the 2nd list
even_odd_list[1][1]

new_list = [[1,3,5,7],[2,4,[1,3,5,7],[2,4,6],6],[2,4,6]]

In [ ]:
l = [1,2,3,4,7]
new_l = l[2::-1]
new_l

[3, 2, 1]

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = ["hallway", hall, "kitchen", kit, "living room", liv,
         "bedroom", bed, "bathroom", bath]

areas[-4:]
areas[:-2]

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75]

## The methods

In [ ]:
new_list2 = [1,2,"e"]
print(new_list2)
# ajouter l'item "Hello"
new_list2.append("Hello")
print(new_list2)

# Enlever le dernier item ajouté dans la liste
new_list2.pop()
print(new_list2)

# To know the index, we use the index method
# I want to the position of "e"
new_list2.index("e")

# To remove one specific element
# Let's remove 1
new_list2.remove(1)
print(new_list2)

[1, 2, 'e']
[1, 2, 'e', 'Hello']
[1, 2, 'e']
[2, 'e']

# Condition statement

##What is a conditionnal statement?
A conditional statement is used to handle conditions in your program.

##How do we define them?
These statements guide the program while making decisions based on the conditions encountered by the program.
Can be done with more than 2 options

In [ ]:
# Define a function named 'surface_room' that takes a 'room_name' as input.
def surface_room(room_name):
    # Check if 'room_name' is equal to "hallway".
    if room_name == "hallway":
        # If it is, assign the value of 'hall' to 'res'.
        res = hall
    # Check if 'room_name' is equal to "kitchen".
    elif room_name == "kitchen":
        # If it is, assign the value of 'kit' to 'res'.
        res = kit
    # Check if 'room_name' is equal to "living room".
    elif room_name == "living room":
        # If it is, assign the value of 'liv' to 'res'.
        res = liv
    # Check if 'room_name' is equal to "bathroom".
    elif room_name == "bathroom":
        # If it is, assign the value of 'bath' to 'res'.
        res = bath
    # Check if 'room_name' is equal to "bedroom".
    elif room_name == "bedroom":
        # If it is, assign the value of 'bed' to 'res'.
        res = bed
    else:
        # If 'room_name' does not match any of the above cases, assign a message to 'res'.
        res = "Try again with a correct room name"
    # Return the value of 'res' as the result of the function.
    return res

# Call the 'surface_room' function with the argument "bedroom" and print the result.
print(surface_room("bedroom"))

# Call the 'surface_room' function with the argument "BEDROOM" and print the result.
print(surface_room("BEDROOM"))

10.75
Try again with a correct room name

# For LOOP

##What is a For Loop?
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

##Why do we use a For Loop?
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
# Define a list of room names.
areas_name = ["hallway", "kitchen", "living room", "bedroom", "bathroom"]
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Define a function named 'surface_room' that takes 'room_name' as input.
def surface_room(room_name):
    # Convert 'room_name' to lowercase for case-insensitive comparison.
    room_name = room_name.lower()
    # Check if 'room_name' matches specific room names and assign the corresponding value to 'result'.
    if room_name == "hallway":
        result = hall
    elif room_name == "kitchen":
        result = kit
    elif room_name == "living room":
        result = liv
    elif room_name == "bathroom":
        result = bath
    elif room_name == "bedroom":
        result = bed
    else:
        # If 'room_name' doesn't match any known room name, assign an error message to 'result'.
        result = "Try again with a correct room name"
    # Return the value of 'result'.
    return result

# Call the 'surface_room' function with different room names and print the results.
print(surface_room("hall"))
print(surface_room("kit"))
print(surface_room("liv"))

# Use a for loop to iterate over 'areas_name' and call 'surface_room' for each room name.
for i in range(len(areas_name)):
    print(areas_name[i], ": ", surface_room(areas_name[i]))

Try again with a correct room name
Try again with a correct room name
Try again with a correct room name
hallway :  11.25
kitchen :  18.0
living room :  20.0
bedroom :  10.75
bathroom :  9.5

## List Comprehension

In [ ]:
# Create an empty list to store surface values.
surface_list = []

# Iterate over each room name in the 'areas_name' list.
for room_name in areas_name:
    # Call the 'surface_room' function to calculate the surface area for the room.
    surface = surface_room(room_name)
    # Append the calculated surface area to the 'surface_list'.
    surface_list.append(surface)

# Print the surface areas for all rooms using a list comprehension.
print([surface_room(room) for room in areas_name])

# Add a condition to filter room names based on their length.
print(areas_name)
# Use list comprehension to get surface areas for rooms with names between 8 and 10 characters.
[surface_room(room) for room in areas_name if 7 < len(room) < 11]

[11.25, 18.0, 20.0, 10.75, 9.5]
['hallway', 'kitchen', 'living room', 'bedroom', 'bathroom']

[9.5]